<nav class="nav">
  <div class="top-nav">
    <ul class="list-1">
      <li>Terms & Conditions</li>
      <li>Privacy Policy</li>
      <li>Membership</li>
    </ul>
    <ul class="list-2">
      <li>Login/Register</li>
      <ul class="icons">
        <li>
          <svg
            fill="#000000"
            height="800px"
            width="800px"
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="-337 273 123.5 256"
            xml:space="preserve"
          >
            <path
              d="M-260.9,327.8c0-10.3,9.2-14,19.5-14c10.3,0,21.3,3.2,21.3,3.2l6.6-39.2c0,0-14-4.8-47.4-4.8c-20.5,0-32.4,7.8-41.1,19.3
            c-8.2,10.9-8.5,28.4-8.5,39.7v25.7H-337V396h26.5v133h49.6V396h39.3l2.9-38.3h-42.2V327.8z"
            />
          </svg>
        </li>
        <li>
          <svg
            fill="#000000"
            height="800px"
            width="800px"
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="-271 296.6 256.4 208.4"
            xml:space="preserve"
          >
            <path
              d="M-14.6,321.2c-9.4,4.2-19.6,7-30.2,8.3c10.9-6.5,19.2-16.8,23.1-29.1c-10.2,6-21.4,10.4-33.4,12.8
            c-9.6-10.2-23.3-16.6-38.4-16.6c-29,0-52.6,23.6-52.6,52.6c0,4.1,0.4,8.1,1.4,12c-43.7-2.2-82.5-23.1-108.4-55
            c-4.5,7.8-7.1,16.8-7.1,26.5c0,18.2,9.3,34.3,23.4,43.8c-8.6-0.3-16.7-2.7-23.8-6.6v0.6c0,25.5,18.1,46.8,42.2,51.6
            c-4.4,1.2-9.1,1.9-13.9,1.9c-3.4,0-6.7-0.3-9.9-0.9c6.7,20.9,26.1,36.1,49.1,36.5c-18,14.1-40.7,22.5-65.3,22.5
            c-4.2,0-8.4-0.2-12.6-0.7c23.3,14.9,50.9,23.6,80.6,23.6c96.8,0,149.7-80.2,149.7-149.7c0-2.3,0-4.6-0.1-6.8
            C-30.5,341-21.6,331.8-14.6,321.2"
            />
          </svg>
        </li>
        <li>
          <svg
            fill="#000000"
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 24 24"
            xml:space="preserve"
          >
            <style type="text/css">
              .st01 {
                fill: none;
              }
            </style>
            <path
              d="M7.8,17.9c-3.2,0-5.9-2.6-5.9-5.9s2.6-5.9,5.9-5.9c1.5,0,2.9,0.6,4,1.5l-1.7,1.7C9.4,8.8,8.6,8.5,7.8,8.5
              c-2,0-3.5,1.6-3.5,3.5s1.6,3.5,3.5,3.5c1.6,0,2.8-1,3.2-2.3H7.8V11h5.5C13.8,13.3,12.7,17.9,7.8,17.9z M19.9,13v2.1h-2.1V13h-2.1v-2
              h2.1V8.9h2.1V11H22v2H19.9z"
            />
            <rect class="st01" width="24" height="24" />
          </svg>
        </li>
        <li>
          <svg
            fill="#000000"
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="-271 283.9 256 235.1"
            xml:space="preserve"
          >
            <g>
              <rect x="-264.4" y="359.3" width="49.9" height="159.7" />
              <path
                d="M-240.5,283.9c-18.4,0-30.5,11.9-30.5,27.7c0,15.5,11.7,27.7,29.8,27.7h0.4c18.8,0,30.5-12.3,30.4-27.7
              C-210.8,295.8-222.1,283.9-240.5,283.9z"
              />
              <path
                d="M-78.2,357.8c-28.6,0-46.5,15.6-49.8,26.6v-25.1h-56.1c0.7,13.3,0,159.7,0,159.7h56.1v-86.3c0-4.9-0.2-9.7,1.2-13.1
              c3.8-9.6,12.1-19.6,27-19.6c19.5,0,28.3,14.8,28.3,36.4V519h56.6v-88.8C-14.9,380.8-42.7,357.8-78.2,357.8z"
              />
            </g>
          </svg>
        </li>
      </ul>
      <li class="switch">
        <button (click)="toggleDarkTheme()" class="btn-toggle">
          {{ theme }}
        </button>
      </li>
    </ul>
  </div>
  <div class="bottom-nav">
    <div class="logo" id="logo"></div>
    <div class="contacts" id="contacts">
      <div>
        <div class="svg-icon">
          <svg
            fill="#70b202"
            width="16px"
            height="16px"
            viewBox="0 0 16 16"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8 .52a5.39 5.39 0 0 0-5.59 5.15c0 5 3.88 8.61 5.17 9.66a.66.66 0 0 0 .84 0c1.29-1.05 5.17-4.63 5.17-9.66A5.39 5.39 0 0 0 8 .52zM8 14a15.2 15.2 0 0 1-2.46-2.76 9.85 9.85 0 0 1-1.88-5.57A4.14 4.14 0 0 1 8 1.77a4.14 4.14 0 0 1 4.34 3.9c0 4.08-2.96 7.16-4.34 8.33z"
            />
            <path
              d="M8 2.54a2.73 2.73 0 0 0-2.84 2.65A2.74 2.74 0 0 0 8 7.84a2.75 2.75 0 0 0 2.83-2.65A2.74 2.74 0 0 0 8 2.54zm0 4.05a1.49 1.49 0 0 1-1.57-1.4A1.49 1.49 0 0 1 8 3.79a1.5 1.5 0 0 1 1.58 1.4A1.5 1.5 0 0 1 8 6.59z"
            />
          </svg>
        </div>
        <div class="text">
          <p>Chisipite, Harare</p>
          <p>Zimbabwe</p>
        </div>
      </div>
      <div>
        <div class="svg-icon">
          <svg
            width="16px"
            height="16px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M22 12C22 17.52 17.52 22 12 22C6.48 22 2 17.52 2 12C2 6.48 6.48 2 12 2C17.52 2 22 6.48 22 12Z"
              stroke="#70b202"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M15.71 15.18L12.61 13.33C12.07 13.01 11.63 12.24 11.63 11.61V7.51001"
              stroke="#70b202"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <div class="text">
          <p>Mon - Fri: 9 AM to 7 PM</p>
          <p>Sunday: Closed</p>
        </div>
      </div>
      <div>
        <div class="svg-icon">
          <svg
            width="16px"
            height="16px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M4.09253 5.63644C4.91414 12.8995 11.1005 19.0859 18.3636 19.9075C19.3109 20.0146 20.1346 19.3271 20.3216 18.3922L20.7004 16.4979C20.8773 15.6135 20.4404 14.7202 19.6337 14.3168L18.3983 13.6992C17.5886 13.2943 16.6052 13.5264 16.062 14.2507C15.7082 14.7224 15.14 15.01 14.5962 14.782C12.7272 13.9986 10.0014 11.2728 9.21796 9.40381C8.99002 8.86004 9.27761 8.2918 9.7493 7.93802C10.4736 7.39483 10.7057 6.41142 10.3008 5.60168L9.68316 4.36632C9.27982 3.55963 8.38646 3.12271 7.50207 3.29959L5.60777 3.67845C4.67292 3.86542 3.98537 4.68912 4.09253 5.63644Z"
              stroke="#70b202"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <div class="text text-last">
          <p class="pad-right">Call Us: +263 774 125 815</p>
          <p class="pad-right">+263 772 125 869</p>
        </div>
      </div>
    </div>
  </div>
</nav>
<ul class="nav-links">
  <li>
    <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page"
      >Home</a
    >
  </li>
  <li>
    <a
      routerLink="/about-us"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >About us</a
    >
  </li>
  <li>
    <a routerLink="#" routerLinkActive="active" ariaCurrentWhenActive="page"
      >Take Tour</a
    >
  </li>
  <li>
    <a routerLink="#" routerLinkActive="active" ariaCurrentWhenActive="page"
      >Pages</a
    >
  </li>
  <li>
    <a routerLink="#" routerLinkActive="active" ariaCurrentWhenActive="page"
      >Gallery</a
    >
  </li>
  <li>
    <a routerLink="#" routerLinkActive="active" ariaCurrentWhenActive="page"
      >Blog</a
    >
  </li>
  <li>
    <a routerLink="#" routerLinkActive="active" ariaCurrentWhenActive="page"
      >Contact Us</a
    >
  </li>
  <li>
    <a routerLink="#" routerLinkActive="active" ariaCurrentWhenActive="page"
      >Schedule Visit</a
    >
  </li>
</ul>
<nav class="mobile-menu">
  <div class="close top-nav burger-close" id="mobile-top-nav">
    <ul class="list-1">
      <li>Terms & Conditions</li>
      <li>Privacy Policy</li>
      <li>Membership</li>
    </ul>
    <ul class="list-2">
      <li>Login/Register</li>
      <ul class="icons">
        <li>
          <svg
            fill="#000000"
            height="800px"
            width="800px"
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="-337 273 123.5 256"
            xml:space="preserve"
          >
            <path
              d="M-260.9,327.8c0-10.3,9.2-14,19.5-14c10.3,0,21.3,3.2,21.3,3.2l6.6-39.2c0,0-14-4.8-47.4-4.8c-20.5,0-32.4,7.8-41.1,19.3
            c-8.2,10.9-8.5,28.4-8.5,39.7v25.7H-337V396h26.5v133h49.6V396h39.3l2.9-38.3h-42.2V327.8z"
            />
          </svg>
        </li>
        <li>
          <svg
            fill="#000000"
            height="800px"
            width="800px"
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="-271 296.6 256.4 208.4"
            xml:space="preserve"
          >
            <path
              d="M-14.6,321.2c-9.4,4.2-19.6,7-30.2,8.3c10.9-6.5,19.2-16.8,23.1-29.1c-10.2,6-21.4,10.4-33.4,12.8
            c-9.6-10.2-23.3-16.6-38.4-16.6c-29,0-52.6,23.6-52.6,52.6c0,4.1,0.4,8.1,1.4,12c-43.7-2.2-82.5-23.1-108.4-55
            c-4.5,7.8-7.1,16.8-7.1,26.5c0,18.2,9.3,34.3,23.4,43.8c-8.6-0.3-16.7-2.7-23.8-6.6v0.6c0,25.5,18.1,46.8,42.2,51.6
            c-4.4,1.2-9.1,1.9-13.9,1.9c-3.4,0-6.7-0.3-9.9-0.9c6.7,20.9,26.1,36.1,49.1,36.5c-18,14.1-40.7,22.5-65.3,22.5
            c-4.2,0-8.4-0.2-12.6-0.7c23.3,14.9,50.9,23.6,80.6,23.6c96.8,0,149.7-80.2,149.7-149.7c0-2.3,0-4.6-0.1-6.8
            C-30.5,341-21.6,331.8-14.6,321.2"
            />
          </svg>
        </li>
        <li>
          <svg
            fill="#000000"
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 24 24"
            xml:space="preserve"
          >
            <style type="text/css">
              .st01 {
                fill: none;
              }
            </style>
            <path
              d="M7.8,17.9c-3.2,0-5.9-2.6-5.9-5.9s2.6-5.9,5.9-5.9c1.5,0,2.9,0.6,4,1.5l-1.7,1.7C9.4,8.8,8.6,8.5,7.8,8.5
              c-2,0-3.5,1.6-3.5,3.5s1.6,3.5,3.5,3.5c1.6,0,2.8-1,3.2-2.3H7.8V11h5.5C13.8,13.3,12.7,17.9,7.8,17.9z M19.9,13v2.1h-2.1V13h-2.1v-2
              h2.1V8.9h2.1V11H22v2H19.9z"
            />
            <rect class="st01" width="24" height="24" />
          </svg>
        </li>
        <li>
          <svg
            fill="#000000"
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="-271 283.9 256 235.1"
            xml:space="preserve"
          >
            <g>
              <rect x="-264.4" y="359.3" width="49.9" height="159.7" />
              <path
                d="M-240.5,283.9c-18.4,0-30.5,11.9-30.5,27.7c0,15.5,11.7,27.7,29.8,27.7h0.4c18.8,0,30.5-12.3,30.4-27.7
              C-210.8,295.8-222.1,283.9-240.5,283.9z"
              />
              <path
                d="M-78.2,357.8c-28.6,0-46.5,15.6-49.8,26.6v-25.1h-56.1c0.7,13.3,0,159.7,0,159.7h56.1v-86.3c0-4.9-0.2-9.7,1.2-13.1
              c3.8-9.6,12.1-19.6,27-19.6c19.5,0,28.3,14.8,28.3,36.4V519h56.6v-88.8C-14.9,380.8-42.7,357.8-78.2,357.8z"
              />
            </g>
          </svg>
        </li>
      </ul>
      <li class="switch">
        <button (click)="toggleDarkTheme()" class="btn-toggle">
          {{ theme }}
        </button>
      </li>
    </ul>
  </div>
  <div class="bottom-nav">
    <svg
      class="burger"
      (click)="toggleMenu()"
      id="hamburger"
      width="40px"
      height="40px"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M5 12H18"
        stroke="#000"
        stroke-width="2"
        stroke-linecap="round"
      />
      <path
        d="M5 17H11"
        stroke="#70b202"
        stroke-width="2"
        stroke-linecap="round"
      />
      <path
        d="M5 7H15"
        stroke="#70b202"
        stroke-width="2"
        stroke-linecap="round"
      />
    </svg>
    <div class="img"></div>
  </div>
  <ul class="close" id="mobile-menu-list" (click)="toggleMenu()">
    <li>
      <a
        routerLink="/home"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Home</a
      >
    </li>
    <li>
      <a
        routerLink="/about-us"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >About us</a
      >
    </li>
    <li>
      <a routerLink="#" routerLinkActive="active" ariaCurrentWhenActive="page"
        >Take Tour</a
      >
    </li>
    <li>
      <a routerLink="#" routerLinkActive="active" ariaCurrentWhenActive="page"
        >Pages</a
      >
    </li>
    <li>
      <a routerLink="#" routerLinkActive="active" ariaCurrentWhenActive="page"
        >Gallery</a
      >
    </li>
    <li>
      <a routerLink="#" routerLinkActive="active" ariaCurrentWhenActive="page"
        >Blog</a
      >
    </li>
    <li>
      <a routerLink="#" routerLinkActive="active" ariaCurrentWhenActive="page"
        >Contact Us</a
      >
    </li>
    <li>
      <a routerLink="#" routerLinkActive="active" ariaCurrentWhenActive="page"
        >Schedule Visit</a
      >
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
