@import "../../styles.scss";

.home-wrapper {
  overflow-x: hidden;
  width: 100vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: -10;

  main {
    overflow-x: hidden;
    width: 100vw;
    height: 75vh;
    background-image: url("../../assets/genesishomeimagefinal.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .main-info {
      background-color: transparentize(
        $color: $background-color-dark,
        $amount: 0.2
      );
      position: relative;
      max-width: fit-content;
      padding: 2 * $padding;
      margin-top: 15%;
      margin-left: 15vw;
      margin-right: 0;
      color: $text-color-light;
      overflow-x: hidden;

      h1 {
        color: $theme-color1;
        font-size: medium;
      }

      .large {
        color: $text-color-light;
        font-size: x-large;
        padding: $padding;
        padding-left: 0;
      }

      .medium {
        color: $text-color-light;
        font-size: large;
      }

      .small {
        color: $text-color-light;
        font-size: small;
        padding: $padding;
        padding-left: 0;

        span {
          a {
            color: $theme-color1;
            text-decoration: underline;
          }

          :hover {
            cursor: pointer;
          }
        }
      }

      .bottom-main {
        font-size: small;
        padding: $padding;
        padding-left: 0;
        display: flex;
        column-gap: $padding;
      }
    }
  }

  .description {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 0 18vw;
    margin: (3 * $padding) 0;
    overflow-x: hidden;

    .description-1 {
      em {
        font-size: small;
      }

      .description-heading {
        padding: $padding 0;
        font-size: x-large;

        strong {
          color: $theme-color1;
        }
      }

      .description-1-images {
        display: flex;
        justify-content: space-around;
        padding: $padding;
        padding-bottom: 2 * $padding;

        .round-images {
          overflow: hidden;
          border: 1px solid grey;
          width: 7rem;
          height: 7rem;
          border-radius: 50%;
          background-position: center;
          background-size: cover;
        }

        .round-images:first-child {
          background-image: url("../../assets/house1.jpg");
        }

        .round-images:nth-child(2) {
          background-image: url("../../assets/house2.jpg");
        }

        .round-images:last-child {
          border: 5px solid $theme-color1;
          background-image: url("../../assets/house3.jpg");
        }
      }

      .description-docs {
        padding-top: $padding;
        padding-bottom: -8px;
        font-size: x-small;
      }
    }

    .description-2 {
      display: grid;
      grid-template-rows: 6fr 1fr;
      gap: $padding;

      .description-2-top {
        border: 1px solid lightgray;
        border-radius: 5px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 100px;

        div {
          border: 1px solid lightgray;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          svg {
            padding: $padding 0;
          }

          b {
            font-size: x-small;
          }
        }
      }

      .description-2-bottom {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .btn-view-map {
          background-color: $theme-color1;
          font-size: x-small;
          height: 25px;
          width: 90px;
          color: $text-color-light;
        }

        .btn-schedule {
          background-color: $theme-color2;
          font-size: x-small;
          height: 25px;
          width: 90px;
          color: $text-color-light;
        }
      }
    }
  }

  .details {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .details-1 {
      background-image: url("../../assets/genesisbed1.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      .details-1-description {
        width: fit-content;
        padding: $padding;
        background-color: transparentize($color: $theme-color1, $amount: 0.3);
        position: relative;
        top: calc(100% - 51px);
        left: calc(100% - 162px);
        color: $text-color-light;

        p {
          color: $text-color-light;
        }
      }
    }

    .details-2 {
      background-color: $theme-color2;
      padding: 6 * $padding;
      padding-right: 14 * $padding;

      p {
        padding: (2 * $padding) 0;
        font-size: x-large;
        color: $text-color-light;

        strong {
          color: $theme-color1;
        }
      }

      .details-2-toggle {
        display: flex;
        font-size: x-small;
        justify-content: flex-start;
        align-items: center;

        .details-toggle {
          display: flex;
          justify-content: center;
          padding: $padding;
          font-size: xx-small;
          border: 1px solid darkslategray;

          b {
            color: $text-color-light;
          }
        }

        .details-toggle:first-child {
          background-color: $theme-color1;
          border: none;
        }
      }

      .paragraph {
        color: $text-color-light;
        font-size: small;
        padding: (3 * $padding) $padding;
        padding-left: 0;
      }

      ul {
        display: flex;
        font-size: small;
        justify-content: space-between;

        li {
          color: $text-color-light;
          font-size: xx-small;
          width: 95px;
          padding: $padding 0;
        }
      }
    }
  }

  .home-about-us {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: (3 * $padding) 0;

    strong {
      color: $theme-color1;
      font-size: x-large;
      width: 15%;
    }

    p {
      width: 60%;
      text-align: center;
      padding: $padding 0;
    }
  }

  footer {
    display: flex;
    width: 100%;
    justify-content: center;

    ul {
      display: flex;
      padding: $padding;

      li {
        padding: $padding;
        font-size: small;
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 992px) {
  #home-description {
    grid-template-columns: 1fr 1fr;
    padding: 0 5vw;
  }

  #home-details {
    .details-2 {
      padding: 40px;
    }
  }

  .home-about-us {
    #about-us-heading {
      font-size: large;
    }
  }
}

@media (max-width: 480px) {
  #main-info {
    margin-left: 2%;
  }

  #home-description {
    grid-template-columns: 1fr;
    padding: 0 5vw;
  }

  #home-details {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .home-about-us {
    width: 90%;
    padding: $padding;

    #about-us-heading {
      width: 25%;
    }
  }

  #footer-list {
    li {
      padding: 4px;
      font-size: xx-small;
    }
  }
}
